#contact
{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-family: Tahoma, Verdana, sans-serif;
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
}
#contact #formContact
{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        background-color: #e0dbdbc5;
        margin: 10px;
}
#contact h1
{
        width: 100%;
        text-align: center;
}
#contact fieldset legend
{
       color:rgb(10, 5, 6);
       font-style: italic;
}
#contact .contact2colonnes
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
 #contact fieldset .contact1 .MouMme
 {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
        width: 150px;
        margin: auto;
 }
 #contact p
 {
         margin:10px 0;
 }
 #contact p label
 {
        display: inline-block;
        width: 131px;
        vertical-align: top;
        margin-left: 15px;
 } 
 #contact p label.petit
 {
         width: 40px;
 }
 #contact fieldset input,
 #contact fieldset textarea
 {
         /*marge en zone de  / margin in the input area*/
         padding: 5px;
 }

 #contact fieldset input:hover,
 #contact fieldset textarea:hover
 {  
        color:rgb(112, 17, 31);
 }
 /*#contact fieldset input:focus,
 #contact fieldset textarea:focus
 {
         couleur de fond quand clic sur zone / background color when click on area
         background-color:rgb(49, 110, 160);
         color:rgb(112, 17, 31);       
 }*/

#contact input[type=submit]:hover,
#contact input[type=reset]:hover
{
        background-color: whitesmoke;
        border-radius: 5px;
        color: red;
        
}
#bouton-envoyer
{
        width: 130px;
        height: 30px;
}
#annuler
{
        width: 130px;
        height: 30px;
}
#contact p.bouton
{
        text-align: center;
        width: 100%;
        
}
#contact textarea
{
        font-family: Tahoma, Verdana, sans-serif;
}
.contact2 #adresse
{
        
        margin: 0px;
        width: 527px;
        height: 73px;
}
.contact2 #message
{
        margin: 0px;
        width: 525px;
        height: 138px;  
}
.adresseInfo
 {
     display: flex;
     width: 100%;
     justify-content: space-around;
     flex-wrap: wrap;
     max-width: 800px;
 }
.map .ouSuisJe
{
        display: flex;
        justify-content: center;
        align-items: center;
 }
 #contact article img
 {
     width: 350px;
 }
 #contact address 
 {
    text-align: center;
    text-decoration: none;
    height: 110px;
    margin-bottom: 10px;
    margin-top: 25px;
 } 
.map iframe
 {
    width: 350px;
    height: 233px; 
 }
   
 


 

/*---------------media querie tablette------------*/
@media screen and (max-width: 992px)
{
        #contact .contact2colonnes
        {
                width: 100%;
                margin-bottom: 10px;
                display: flex;
                flex-wrap:wrap ;
                justify-content: space-around;
                flex-direction: column;
        }
        
        .contact2
        {
                padding-top: 50px;
        }

        .contact2 #adresse {
                margin: 0px;
                width: 327px;
                height: 73px;
        }
        .contact2 #message {
                margin: 0px;
                width: 325px;
                height: 138px;
        }

}

@media screen and (max-width: 576px)
{
        #contact article img
        {
                width: 250px;
        }

        #contact .map iframe
        {
                width: 250px;
                height: 233px; 
        }
        .contact2 #adresse {
                margin: 0px;
                width: 187px;
                height: 73px;
        }
        .contact2 #message {
                margin: 0px;
                width: 185px;
                height: 138px;
        }
}
