#creezVotreCompte/*largeur maximale:1170px(main) / maximum width: 1170px (main)*/
{
    max-width: 1170px;
    width: 100%;
    /* background-color: coral;*/
   /*centrage du bloc*/
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
}
#creezVotreCompte fieldset
{   
    color:  rgb(10, 5, 6); 
    width: 100%;
    background-color: #e0dbdbc5;     
}
#creezVotreCompte fieldset legend
{
    font-weight: bold; 
    font-style: normal; 
}

#creezVotreCompte .bntCreer
{
    width: 100%;
    text-align: center;
}
#creezVotreCompte .bouton
{
    width: 130px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*les coordonnées / the coordinates*/
#creezVotreCompte .contact3
{
    width: 100%;
    text-align: center;
}
#creezVotreCompte .contact3 .MouMme {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    width:150px;
    margin: auto;
}
#creezVotreCompte .contact3 p label
{
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
#creezVotreCompte .contact3 p input
{
    width: 200px;
    height: 30px;
}
#creezVotreCompte .contact3 p span
{
    width: 200px;
    height: 20px;
    display: inline-block;
}
/*les offres /offers*/
#creezVotreCompte .confidentialite
{
    width: 100%;   
}
#creezVotreCompte .confidentialite div
{
    display: flex;
    justify-content: center;
    margin: 5px;
}
#creezVotreCompte .confidentialite div label
{
    margin-left: 10px;
}

/*---------------media querie tablette------------*/
@media screen and (max-width: 992px)
{
    #creezVotreCompte .confidentialite
    {
        text-align: justify;
    }
    #creezVotreCompte fieldset
    {
        margin: auto;
        width: 80%;
        text-align: left;
    }
}









